#products :first-child {
  color: fuchsia;
}

#products :last-child {
  color: rgb(42, 196, 201);
}

#products :first-of-type {
  color: rgb(42, 201, 74);
}

#products :last-of-type {
  color: rgb(79, 42, 201);
}

#products :last-child {
  color: rgb(236, 255, 32);
  font-weight: bold;
}

ul li:nth-child(odd){
    color: rgb(21, 243, 32);
    background-color: darkorange;
}

h2:hover{
    color: rgb(56, 139, 0);
    font-weight: bold;
}

a:visited, a:link{
    color: rgb(255, 80, 252);
    text-decoration: none;
}

a:focus{
    color: rgb(124, 16, 124);
    background-color: rgb(255, 3, 79);
}