body {
  background: linear-gradient(
    45deg,
    rgb(212, 141, 153),
    rgba(18, 153, 243, 0.493),
    rgb(185, 112, 185) 340%
  );
  /* background: rgb(238,174,202); */
  /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
}

img {
  width: 300px;
  height: 200px;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.123);
  object-position: right;
}

#copydesc {
  font-size: 2rem;
}

video {
  height: 300px;
  display: block;
  margin: 0 auto;
} 
.container video {
  display: flex;
  justify-content: center;
}

figcaption {
  margin-left: 100px;
}

ol,
li {
  list-style: none;
  padding: 0;
}

body > img,
figure {
  margin: 0;
}

table,
td,
th {
  border: 2px solid #ff006a;
  border-collapse: collapse;
}

.product {
  background-color: rgba(0, 132, 255, 0.39);
}

.border {
  height: 100px;
  width: 600px;
  background: rgb(218, 129, 198);
  border-left: 10px solid rgb(141, 9, 75);
  border-width: 10px 20px;
}

.boxshad {
  height: 100px;
  width: 100px;
  background: rgb(158, 22, 68);
  border-radius: 10px;
  border-width: 10px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.7);
}

h2 {
  color: plum;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

div > p {
  border: 2px solid rgb(54, 10, 54);
  padding: 20px;
  margin: 20px;
}
