*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none; 
}

/* css reset  */

.box{
    height: 200px;
    width: 200px;
    background-color: darkcyan;
    border: 10px solid darkblue;
    padding: 20px;
    /* margin: 30px; */
    display: inline-block;

}


#box{

    width: 100px;
    height: 100px;
    background-color: darkcyan;
    display: inline-block;
    border-radius: 100%;

}