*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    display: grid;
    grid-template-columns: 30fr 70fr;
    /* 500px 30% 70f% */
    /* number of rows and columns 2 ta column va 1 ta row*/
    /* 100px 30fr 70fr */
    /* hadaf dar front scrool nakardan ofoghi hast !!! eshtebahh 500px 30% 70% ofoghi mishe pas 500px ro dady bebin cheghadr faza baghy mimone 
    30% be avali 70% be dovomi */
    /* fr : fazaye baghymondeh fraction */
    /* repeat(2(column or row),150px(size) */
    /* if remove width it fills whole of the block */
    grid-template-rows: 100px auto 300px;
    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
    /* justify-items: center; x direction*/
    /* align items y */
    /* justify content(x) and align content(y) :all the grid move to center */
    column-gap: 1rem;
/* fpr space between them */
    row-gap: 1rem;
}

/* .box{
    background-color: orange;
} */

/* .box-one{
    grid-column: 1/3; 
     or 1 / span 3 
    background-color: tomato;

} 
this is same as header  */


.header{
    background-color: blue;
    grid-area: header;
}

.nav{
    background-color: brown;
    grid-area: nav;
}

.main{
    background-color: crimson;
    grid-area: main;
}

.footer{


    background-color: salmon;
    grid-area: footer;
}




