.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background-color: gold;
}

.box:hover {
  transform: rotate(45deg);
  /* scale(1.5) 50% bigger */
  /* z hast rotate alan */
  /* rotateX or rotteY(45deg) */
  /* skew(45deg) */
  /* translate: (45px (x) , 100px(y)); */
  /* transform: perspective(200px) translateZ(-45deg); */
  /* perspective(200px) rotateY(45deg)  transform-origin: 0 50%; */
}

.container{
    perspective: 200px;
}


.container:hover .box{
    transform: perspective(200px) translateZ(-45deg);
    transform-origin: 0 50%;

}