h2{
  color: darkmagenta;
}

/* h2{
  color: darkmagenta !important;
} */

#products .heding-id{
  color: crimson;
}

#heding-id{
  color: rgb(0, 139, 139);
}

.heding-id#heding-id{
  color: tomato;
}

#products #heading-id{
  color: darkorange;
}

.heading-class.heading-size{
  font-size: 70px;
}