/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

/* Root variable */
:root {
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-body: #333333;
  --colot-headings: #000000;
  --color-white: #fff;
}

/* Typography */

body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: var(--colot-headings);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.5rem;
  }
}

/* Buttons */
.btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  margin: 1rem 0;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--secondary {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 2rem;
  }
}

/* Badge */
.badge {
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-white);
  border-radius: 32px;
  padding: 0.5rem 1.3rem;
  text-align: right;
  font-size: 1.2rem;
}

.badge--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.4rem;
  }
}

/* List */
.list {
  list-style: none;
  font-size: 1.8rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}

.list--tick .list__item {
  background: url(/assets/images/Tick-Square.svg) no-repeat right center;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

/* Plan */
.block-plan {
  display: grid;
  gap: 10rem 6rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  margin-top: 5rem;
}

.plan {
  max-width: 450px;
  font-size: 1.8rem;
  transition: all 0.2s ease-out;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px hsla(0, 4%, 95%, 0.882);
  background-color: rgb(245, 233, 245);
}

.card__header,
.card__body {
  padding: 3rem 2.5rem;
}

.card__header {
  color: var(--color-white);
}

.card--secondary.card__header {
  background-color: var(--color-secondary-dark);
}

.card--primary.card__header {
  background-color: var(--color-primary-light);
}

.plan__introduction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.plan__price {
  font-size: 3rem;
}

.plan__billing-cycel {
  font-size: 1.4rem;
}

.plan__description {
  display: block;
  margin-top: 1.5rem;
}

.plan .btn--block {
  font-size: 1.6rem;
  margin-top: 10rem;
}

.plan-popular {
  transform: scale(1.1);
}

.plan-popular:hover {
  transform: scale(1.1);
}

.plan:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
  .plan .btn--block {
    font-size: 1.8rem;
  }
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Feature */

.feature {
  display: grid;
}

.feature .btn {
  padding: 1.2rem 3rem;
}

.feature__text {
  margin-bottom: 1.5rem;
}

.feature__image > img {
  width: 70%;
  height: auto;
}

.feature__image {
  margin-bottom: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature__image {
    order: 2;
    margin-bottom: 0;
  }
  .feature__detail {
    order: 1;
  }
  .feature__image > img {
    width: 100%;
    height: auto;
  }
}

/* Contact-us */

.contact-us {
  display: grid;
}

.contact-us__map {
  display: none;
}

@media screen and (min-width: 1024px) {
  .contact-us {
    grid-template-areas:
      "address form"
      "map form"
      "icons form";
    grid-template-columns: 70fr 30fr;
  }
  .contact-us__form {
    grid-area: form;
  }
  .contact-us__map {
    grid-area: map;
    display: block;
  }
  .contact-us__icons {
    grid-area: address;
  }
  .contact-us__social {
    grid-area: icons;
  }
}

/* Icons */

.icon {
  width: 24px;
  height: 24px;
}

.icon-container {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

.contact-us__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-us__icons .icon-holder {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.icon-holder__label {
  margin-left: 1rem;
  display: block;
  max-width: 250px;
}

@media screen and (min-width: 1024px) {
  .contact-us__icons {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contact-us__icons .icon-holder {
    flex-direction: column;
    max-width: 150px;
  }

  .icon-holder__label {
    order: 2;
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }
}

/* social icons */

.contact-us__social .icon-container {
  /* margin-left: ; */
}

.contact-us__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 1024px) {
  .contact-us__social {
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .contact-us__social .icon-container {
    margin-left: 2rem;
  }
}

/* Contact-us form */

.contact-us__map img {
  width: 100%;
  height: auto;
}

.contact-us__form {
  margin-right: 0;
}

.form-wrapper {
  height: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}

.form-wrapper h3 {
  margin-bottom: 5.2rem;
  text-align: center;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

input,
textarea {
  display: block;
  outline: 0;
  border: 0;
}

::placeholder {
  font-size: 1.2rem;
  color: #a3a3a3;
  font-family: "Yekan";
}

.form-wrapper input,
.form-wrapper textarea {
  border-radius: 39px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 1.2rem 1.5rem;
}

textarea {
  resize: none;
}

.form-wrapper textarea {
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .contact-us__form {
    margin-right: 3rem;
  }
}

/* Footer */

.main-footer {
  background-color: rgb(0, 0, 0);
  color: white;
  min-height: 250px;
  display: flex;
  align-items: center;
}

.main-footer .footer {
  display: flex;
  flex-direction: column;
}

.footer__item {
  margin-bottom: 2.5rem;
}

.footer__item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  margin-bottom: 0.5rem;
  display: block;
}

.footer__item h6 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer__item.enemad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__enemad {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  max-width: 86px;
  margin-left: 0.5rem;
}
.footer__enemad img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .main-footer .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer__item {
  margin-bottom: 0;
  margin-left: 2rem;
}
}
