*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Yekan";
  font-weight: normal; /*or normal*/
  font-style: normal;
  src: url("/assets/fonts/Yekan.woff2") format("woff2");
}

@font-face {
  font-family: "Yekan";
  font-weight: normal; /*or normal*/
  font-style: normal;
  src: url("/assets/fonts/Yekan.woff") format("woff");
}

body {
  font-family: "Yekan";
}

html {
  font-size: 62.5%;
  /* 62.5% * 16px = 10px */
}

p {
  font-size: 2rem;
  line-height: 1.7; /* we use line height for keep the lines clean normally it sets :  font-size here 2rem * 2= 4 */
  font-weight: 400;
}


h2 {
  font-size: 3.1rem;
  /* for mobile 2 rem and 3.1 rem */
  margin: 3rem 0 1rem;
  font-weight: 700;
}


@media screen and (min-width: 600px) {
  h2 {
    font-size: 3.5rem;
  }
  p {
    font-size: 2.5rem;
  }
  /* desktop mode */
}