.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background-color: gold;
}

.box:hover {
  transform: rotate(45deg);
}

.container{
    perspective: 500px;
}


.container:hover .box{
  transform: perspective(200px) translateZ(-45deg);
  transform-origin: 0 50%;
}