*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    height: 200vh;
}

.box{
    border: 2px solid salmon;
    position: relative;
}

.item{
    width: 100px;
    height: 100px;
}

.item-one{
    background-color: orange;
}

.item-two{
    background-color: crimson;
    position: sticky; 
    top: 0;
    width: 100%;
}

.item-three{
    background-color: rgb(224, 15, 224);
    position: sticky;
    top: 0;
    right: 0;
}

