*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.container p {
  background-color: gold;
  padding: 10px;
}

.container :first-child {
  background-color: blueviolet;
}

.container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .container {
    flex-direction: row;
  }
}

@media print {
  .container {
    font-size: 12px;
  }
}
