*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Yekan";
  font-weight: 400;
  font-style: normal;
  src: url("/practices/assets/fonts/Yekan.ttf") format("ttf");
}

@font-face {
  font-family: "Yekan";
  font-weight: 700; 
  font-style: normal;
  src: url("/practices/assets/fonts/Yekan.ttf") format("ttf");
}

body {
  font-family: "Yekan";
}

html {
  font-size: 62.5%;
}

p {
  font-size: 2rem;
  line-height: 1.7;
  font-weight: 400;
  width: 50rem;
  column-count: 2;
  column-gap: 2rem;
  direction: rtl;
}

p + p {
  text-indent: 2rem;
}

h2 {
  text-transform: capitalize;
  font-size: 3.1rem;
  margin: 3rem 0 1rem;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: 3.5rem;
  }
  p {
    font-size: 2.5rem;
  }
}

.over {
  border: 2px solid darkgreen;
  width: 50rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: line-through;
}

