@font-face {
  font-family: "Yekan";
  src: url(/assets/fonts/Yekan.woff) format('woff');
}

body {
  padding: 1rem;
  font-family: 'Yekan';
}

label {
  display: block;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
}


form {
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  padding: 1rem;
  max-width: 50%;
  background-color: #f2edf6;
}

.form-control {
  margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
  border: 1px solid #d1d5db;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: border 0.15s, box-shadow 0.15s;
  /*we can say instead  all 0.15s */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: 0;
  border: 1px solid #bb7fe0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: border 0.15s, box-shadow 0.15s;
  /*we can say instead  all 0.15s */
}

input:focus {
  outline: 0;
  border: 1px solid #c4b5fd;
  box-shadow: 0 0 0 4px #f5f3ff;
}

button {
  font-family: "Yekan";
  margin: 1rem 0.5rem;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  border: 0;
  background-color: #a78bfa;
  color: #fff;
}

textarea {
  resize: none;
  /* user cant change the size */
}
