.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background-color: rgb(255, 0, 200);
  transition: transform 0.5s ease-in 0.7s, background-color 2s ease-out;
}

.box:hover {
  transform: rotate(90deg);
  background-color: rgb(156, 50, 205);
}
