*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.items{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.item{
    width: 100px;
    height: 100px;
    margin: 1px;
}

.box2{
    display: flex;
}

.item-one{
    width: 300px;
    background-color: blueviolet;
}

.item-two{
    word-wrap: 300px;
    background-color: rgb(43, 64, 226);
    /* flex-basis: 300px; */
}

.item-three{
    width: 200px;
    background-color: rgb(226, 43, 195);
    /* flex-basis: 200px; */
}