#products p{
    background-color: rgb(196, 67, 101);
}
#products > p{
    background-color: rgb(190, 196, 67);
}

#products + p{
    background-color: rgb(67, 196, 153);
}

#products ~ p{
    background-color: rgb(108, 67, 196);
}

a[target="_blank"]{
    color: blue;
}

a[target]{
    color: blue;
}

a[href="https://www.google.com"]{
    color: blue;
}

a[href*="google"]{
    color: blue;
}

a[href^="https://"]{
    color: blue;
}

a[href$=".com"]{
    color: blue;
}