*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    display: grid;
    grid-template-columns: 30fr 70fr;
    grid-template-rows: 100px auto 300px;
    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
    column-gap: 1rem;
    row-gap: 1rem;
}

.header{
    background-color: blue;
    grid-area: header;
}

.nav{
    background-color: brown;
    grid-area: nav;
}

.main{
    background-color: crimson;
    grid-area: main;
}

.footer{
    background-color: salmon;
    grid-area: footer;
}




