* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}


.box {
    font-size: 2rem;
    height: 200px;
    width: 200px;
    background-color: gold;
    overflow: auto;
    /* border-left: 5px solid firebrick; */
}

p{
    border: 2px solid gold;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* overflow and white and text  should come together*/
}