*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 150px 150px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.box{
    width: 100px; 
    height: 100px; 
    background-color: orange;
}


